<!doctype html>
<html lang="ja">
<body>
<%= render "shared/header" %>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="card-title"><%= @user.nickname %>さん</h4>
          <% if user_signed_in? && current_user.id == @user.id %>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to 'ユーザー情報修正', edit_user_registration_path, class:'text-reset' %>
            </button>
          <% end %>

          <div class="album py-3 bg-light">
            <div class="container">
              <h4 class="text-center">ギア投稿一覧</h4>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% @posts.each do |post| %>
                  <div class="col">
                    <div class="card shadow-sm">
                      <%= image_tag post.image, class: "post-img" %>
                      <div class="card-body">
                        <h5><%= post.gearmodel %></h5>
                        <p class="card-text"><%= post.text.truncate(30) %></p>
                        <div class="d-flex justify-content-between align-items-center">

                          <div class="btn-group">
                          
                            <% if user_signed_in? %>
                              <button type="button" class="btn btn-sm btn-outline-secondary">
                                <% if post.liked?(current_user) %>
                                  <%= link_to post_likes_path(post.id), method: :delete do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                      <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                                    </svg>
                                  <% end %>
                                <% else %>
                                  <%= link_to post_likes_path(post.id), method: :post do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                      <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                    </svg>
                                  <% end %>
                                <% end %>
                              </button> 
                            <% end %>

                            <button type="button" class="btn btn-sm btn-outline-secondary">
                              likes <%= post.likes.count %>
                            </button>

                            <button type="button" class="btn btn-sm btn-outline-secondary">
                              <%= link_to '詳細', post_path(post.id), class:'text-reset' %>
                            </button>
                            
                          </div>

                          <small class="text-muted"><%= link_to post.user.nickname, user_path(post.user.id) %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <!-- popper -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>