<%= render "shared/header" %>

  <main>
    <div class="container-fluid text-center py-3 bg-light">
      <h4>ユーザーログイン</h4>
      <div class="col-lg-6 card mb-3 w-90 p-4 mx-auto shadow-sm">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="inputemail">
              <label for="inputemail">Eメール</label>
              <%= f.email_field :email, autocomplete: "email", class:"form-control", id:"inputemail" %>
            </div>

            <div class="password">
              <label for="password">パスワード</label>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"password" %>
            </div>
            <br>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "ログイン状態を保持する" %>
              </div>
            <% end %>
            <br>
            <div class="submitchange">
              <%= f.submit "ログイン" , class:"btn btn-secondary btn-sm" %>
              <%= link_to 'もどる', root_path, class:"btn btn-sm btn-outline-secondary" %>
            </div>
            <br>
            <%= link_to "新規ユーザー登録はこちら", new_user_registration_path %><br>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>
