<!doctype html>
<html lang="ja">
<body>
<%= render "shared/header" %>

  <main>
    <div class="container-fluid text-center py-3 bg-light">
      <div class="row-lg-6 card mb-3 w-90 p-4 mx-auto shadow-sm">

        <%= form_with model: @post, local: true do |f| %>
          <div class="col">
            <%= image_tag @post.image, class:"img-fluid" %>
            <div class="img-upload">
              <div class="click-upload">
                <label for="gearimagepost">ギア画像</label>
                <%= f.file_field :image, class:"form-control", id:"gearimagepost" %>
              </div>
            </div>

            <div class="inputcategory">
              <label for="inputcategory">カテゴリー</label>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control", id:"inputcategory"}) %>
            </div>

            <div class="inputbrand">
              <label for="inputbrand">ブランド</label>
              <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"form-control", id:"inputbrand"}) %>
            </div>


            <div class="gearmodel">
              <label for="gearmodel">ギア名</label>
              <%= f.text_area :gearmodel, class:"form-control", id:"gearmodel", placeholder:"ギアのモデル（必須 40文字まで)", maxlength:"40" %>
            </div>

            <div class="geartext">
              <label for="geartext">ギアの説明</label>
              <%= f.text_area :text, class:"form-control", id:"geartext", placeholder:"商品の説明（必須 1,000文字まで）例）2020年頃に1万円で購入したテントです。ポリコットン製で重量はありますが見た目に惚れて買いました。" ,rows:"7" ,maxlength:"1000" %>
            </div>
            <br>
            <div class="submitchange">
              <%= f.submit "変更する" , class:"btn btn-secondary btn-sm" %>
              <%= link_to 'もどる', post_path, class:"btn btn-sm btn-outline-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <!-- popper -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>