  <%= form_with model: @post, local: true do |f| %>

    <%
=begin%>
 <%= render 'shared/error_messages', model: f.object %> 
<%
=end%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ギア画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"post-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-posts">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :gearmodel_id, class:"posts-text", id:"post-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="posts-explain">
        <div class="weight-bold-text">
          商品の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"posts-text", id:"post-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="posts-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
        <div class="weight-bold-text">
          ブランド
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"select-box", id:"post-sales-status"}) %>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        <a href="#">偽ブランドの販売</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" , class:"sell-btn" %>
      <%= link_to 'もどる', post_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>