<%= form_with model: @post, url:posts_path, local: true do |f| %>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
        <div class="weight-bold-text">
          ブランド
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"select-box", id:"post-brand"}) %>
        <div class="weight-bold-text">
          モデル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:gearmodel_id, Gearmodel.all, :id, :name, {}, {class:"select-box", id:"post-gearmodel"}) %>
      </div>
    </div>
    <div class="items-explain">
        <div class="weight-bold-text">
          ギアの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"posts-text", id:"post-text", placeholder:"ギアの説明" ,rows:"7" ,maxlength:"255" %>
      </div>
    <div class="img-upload">
      <div class="weight-bold-text">
        ギアの画像
      </div>
      <div class="click-upload">
        <p>
          クリックして画像をアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "登録" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

<% end %>