<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>
    <div class="b-example-divider"></div>

    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Camp Pro"></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Camp Pro</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">カテゴリー</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">ブランド</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="検索..." aria-label="Search">
          </form>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-right text-small" aria-labelledby="dropdownUser1">
              <% if user_signed_in? %>
                <li><%= link_to '新規投稿', new_post_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path, class: "dropdown-item" %></li>
                <li><%= link_to 'ユーザー登録', new_user_registration_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>

<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= @post.gearmodel.name %>
    </h2>
    <div class="post-img-content">
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>
    <div class="post-price-box">
      <span class="post-price">
        <%= @post.brand.name %>
      </span>
      <span class="post-postage">
        <%= @post.category.name %>
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "ギアの編集", edit_post_path, method: :get, class: "post-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", post_path, method: :delete, class:"post-destroy" %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @post.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">出品者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">カテゴリー</th>
          <td class="detail-value"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-post">商品の状態</th>
          <td class="detail-value"><%= @post.brand.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-post-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-post-btn">
      後ろの商品 ＞
    </a>
  </div>
</div>