<%= render "shared/header" %>

  <main>
    <div class="container-fluid text-center py-3 bg-light">
      <div class="card mb-3 w-90 p-4 mx-auto shadow-sm">
        <%= image_tag @post.image %>
        <div class="card-body">
          <h4 class="card-title"><%= @post.gearmodel %></h4>
          <p class="card-title">オーナー：<%= @post.user.nickname %>さん</p>
          <p class="card-title">カテゴリー：<%= @post.category.name %></p>
          <p class="card-title">ブランド：<%= @post.brand.name %></p>
          <p class="card-text">ギアの説明：<%= @post.text %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <% if user_signed_in? && current_user.id == @post.user_id %>  
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to "編集", edit_post_path, method: :get, class:'text-reset' %>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to "削除", post_path, method: :delete, class:'text-reset' %>
            </button>
          <% end %>
        </div>
      </div>
    </div>

  <div class="container-fluid text-center py-3 bg-light">
    <div class="card mb-3 w-90 p-4 mx-auto shadow-sm">
      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <%= comment.text %>
          <br>
          by <small><%= comment.user.nickname %>
          <br>
          <%= comment.created_at.to_s(:datetime_jp) %></small>
          <br>
          <br>
        <% end %>
      </ul>
        <% if user_signed_in? %>  
          <%= form_with model: [@post, @comment], local: true do |f| %>
              <div class="form-group">
                <%= f.label :text, 'コメントする', class:'control-label' %>
                <%= f.text_area :text, id:'comment_text', class:'form-control', rows:"3", maxlength:"1000" %>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <%= f.submit '送信', class:"btn btn-secondary btn-sm" %>
                </div>
                  <p class="comment-warn">
                    <small class="text-muted">
                      相手のことを考え丁寧なコメントを心がけましょう。<br>
                      不快な言葉遣いなどは利用制限や退会処分となることがあります。
                    </small>
                  </p>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </main>

<%= render "shared/footer" %>