<%= render "shared/header" %>

  <main>
    <div class="container-fluid text-center py-3 bg-light">
      <div class="card w-90 p-3 mx-auto shadow-sm">
        <h4 class="card-title"><%= @post.gearmodel %></h4>
        <p><small>
          <%= link_to @post.brand.name, "/posts/brand/#{@post.brand_id}", class:"text-muted" %> > 
          <%= link_to @post.category.name, "/posts/category/#{@post.category_id}", class:"text-muted" %>
        </small></p>

        <%= image_tag @post.image, class:"mx-auto rounded w-75" %>
        <div class="card-body">
          <p class="card-title">オーナー：<%= link_to @post.user.nickname, user_path(@post.user.id), class:"text-muted" %>さん</p>
          <p class="card-text">ギアの説明：<%= @post.text %></p>
          <% if user_signed_in? && current_user.id == @post.user_id %>  
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to "編集", edit_post_path, method: :get, class:'text-reset' %>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to "削除", post_path, method: :delete, class:'text-reset' %>
            </button>
          <% end %>
        </div>
      </div>
    </div>

  <div class="container-fluid text-center pb-1 bg-light">
    <div class="card mb-3 w-90 p-4 mx-auto shadow-sm">
      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <%= comment.text %> 

          <small>
            by
            <%= link_to comment.user.nickname, user_path(comment.user.id), class:"text-muted" %>さん 
            at
            <%= comment.created_at.to_s(:datetime_jp) %>
          </small>
          <br>
          <br>
        <% end %>
      </ul>
        <% if user_signed_in? %>  
          <%= form_with model: [@post, @comment], local: true do |f| %>
              <div class="form-group">
                <%= f.label :text, 'コメントする', class:'control-label' %>
                <%= f.text_area :text, id:'comment_text', class:'form-control', rows:"3", maxlength:"1000" %>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <%= f.submit '送信', class:"btn btn-secondary btn-sm" %>
                </div>
                  <p class="comment-warn">
                    <small class="text-muted">
                      相手のことを考え丁寧なコメントを心がけましょう。<br>
                      不快な言葉遣いなどは利用制限や退会処分となることがあります。
                    </small>
                  </p>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </main>

<%= render "shared/footer" %>