<%= render "shared/header" %>

<section class="text-center container-fluid bg-light">
  <div class='title-contents'>
    <div class="row py-lg-3">
      <div class="col-lg-9 col-md-12 mx-auto">
        <br>
        <h1 class="fw-light-ext">ギア好きキャンパーたちが集うCamp Pro</h1>
        <br>
        <p class="lead-ext">自慢のギアを他のキャンパーたちと共有しよう</p>
        <br>
      </div>
    </div>
  </div>
</section>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="text-center py-3 bg-light">ブランド一覧</h4>
          <div class="col">
            <%= link_to 'コールマン(Coleman)', '/posts/brand/2' %>
            <%= link_to 'スノーピーク(Snow Peak)', '/posts/brand/3' %>
            <%= link_to 'モンベル(mont-bell)', '/posts/brand/4' %>
            <%= link_to 'ロゴス(LOGOS)', '/posts/brand/5' %>
            <%= link_to 'キャプテンスタッグ(CAPTAIN STAG)', '/posts/brand/6' %>
            <%= link_to 'ザ・ノース・フェイス(THE NORTH FACE)', '/posts/brand/7' %>
            <%= link_to 'チャムス(CHUMS)', '/posts/brand/8' %>
            <%= link_to 'オガワ(ogawa)', '/posts/brand/9' %>
            <%= link_to 'NANGA(ナンガ)', '/posts/brand/10' %>
            <%= link_to 'DOD(ディーオーディー)', '/posts/brand/11' %>
            <%= link_to 'SOTO(ソト)', '/posts/brand/12' %>
            <%= link_to 'ノルディスク(Nordisk)', '/posts/brand/13' %>
            <%= link_to 'MSR(エムエスアール)', '/posts/brand/14' %>
            <%= link_to 'テンマクデザイン(tent-Mark DESIGNS)', '/posts/brand/15' %>
            <%= link_to 'ユニフレーム(UNIFLAME)', '/posts/brand/16' %>
            <%= link_to 'キャラバン', '/posts/brand/17' %>
            <%= link_to 'マムート(MAMMUT)', '/posts/brand/18' %>
            <%= link_to 'KEEN(キーン)', '/posts/brand/19' %>
            <%= link_to 'アークテリクス(Arcteryx)', '/posts/brand/20' %>
            <%= link_to 'パタゴニア(Patagonia)', '/posts/brand/21' %>
            <%= link_to 'グレゴリー(Gregory)', '/posts/brand/22' %>
            <%= link_to 'ヒルバーグ(Hilleberg)', '/posts/brand/23' %>
            <%= link_to 'ベンガルス(Bergans)', '/posts/brand/24' %>
            <%= link_to 'アライテント', '/posts/brand/25' %>
            <%= link_to 'ノースイーグル(North Eagle)', '/posts/brand/26' %>
            <%= link_to 'バンドック(BUNDOK)', '/posts/brand/27' %>
            <%= link_to 'テンティピ(Tentipi)', '/posts/brand/28' %>
            <%= link_to 'ゼログラム(ZEROGRAM)', '/posts/brand/29' %>
            <%= link_to 'キャンバスキャンプ(CanvasCamp)', '/posts/brand/30' %>
            <%= link_to 'ケシュア(Quechua)', '/posts/brand/31' %>
            <%= link_to 'サウスフィールド(SOUTH FIELD)', '/posts/brand/32' %>
          <br>
          <br>


          </div>
        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>