<!doctype html>
<html lang="ja">
<body>
<%= render "shared/header" %>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <div class="col">
          <h4>ブランド一覧</h4>
            <%= link_to 'コールマン(Coleman)', '/posts/brand/2' %>
            <%= link_to 'スノーピーク(Snow Peak)', '/posts/brand/3' %>
            <%= link_to 'モンベル(mont-bell)', '/posts/brand/4' %>
            <%= link_to 'ロゴス(LOGOS)', '/posts/brand/5' %>
            <%= link_to 'キャプテンスタッグ(CAPTAIN STAG)', '/posts/brand/6' %>
            <%= link_to 'ザ・ノース・フェイス(THE NORTH FACE)', '/posts/brand/7' %>
            <%= link_to 'チャムス(CHUMS)', '/posts/brand/8' %>
            <%= link_to 'オガワ(ogawa)', '/posts/brand/9' %>
            <%= link_to 'NANGA(ナンガ)', '/posts/brand/10' %>
            <%= link_to 'DOD(ディーオーディー)', '/posts/brand/11' %>
            <%= link_to 'SOTO(ソト)', '/posts/brand/12' %>
            <%= link_to 'ノルディスク(Nordisk)', '/posts/brand/13' %>
            <%= link_to 'MSR(エムエスアール)', '/posts/brand/14' %>
            <%= link_to 'テンマクデザイン(tent-Mark DESIGNS)', '/posts/brand/15' %>
            <%= link_to 'ユニフレーム(UNIFLAME)', '/posts/brand/16' %>
            <%= link_to 'キャラバン', '/posts/brand/17' %>
            <%= link_to 'マムート(MAMMUT)', '/posts/brand/18' %>
            <%= link_to 'KEEN(キーン)', '/posts/brand/19' %>
            <%= link_to 'アークテリクス(Arcteryx)', '/posts/brand/20' %>
            <%= link_to 'パタゴニア(Patagonia)', '/posts/brand/21' %>
            <%= link_to 'グレゴリー(Gregory)', '/posts/brand/22' %>
            <%= link_to 'ヒルバーグ(Hilleberg)', '/posts/brand/23' %>
            <%= link_to 'ベンガルス(Bergans)', '/posts/brand/24' %>
            <%= link_to 'アライテント', '/posts/brand/25' %>
            <%= link_to 'ノースイーグル(North Eagle)', '/posts/brand/26' %>
            <%= link_to 'バンドック(BUNDOK)', '/posts/brand/27' %>
            <%= link_to 'テンティピ(Tentipi)', '/posts/brand/28' %>
            <%= link_to 'ゼログラム(ZEROGRAM)', '/posts/brand/29' %>
            <%= link_to 'キャンバスキャンプ(CanvasCamp)', '/posts/brand/30' %>
            <%= link_to 'ケシュア(Quechua)', '/posts/brand/31' %>
            <%= link_to 'サウスフィールド(SOUTH FIELD)', '/posts/brand/32' %>
          <br>
          <br>


          </div>
        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <!-- popper -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>