<%= render "shared/header" %>

<section class="text-center container-fluid bg-light">
  <div class='title-contents'>
    <div class="row py-lg-3">
      <div class="col-lg-9 col-md-12 mx-auto">
        <br>
        <h1 class="fw-light-ext">ギア好きキャンパーたちが集うCamp Pro</h1>
        <br>
        <p class="lead-ext">自慢のギアを他のキャンパーたちと共有しよう</p>
        <br>
      </div>
    </div>
  </div>
</section>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="text-center py-3 bg-light border">ブランド一覧</h4>
          <div class="col">
            <%= link_to 'コールマン(Coleman)', '/posts/brand/2' %><br>
            <%= link_to 'スノーピーク(Snow Peak)', '/posts/brand/3' %><br>
            <%= link_to 'モンベル(mont-bell)', '/posts/brand/4' %><br>
            <%= link_to 'ロゴス(LOGOS)', '/posts/brand/5' %><br>
            <%= link_to 'キャプテンスタッグ(CAPTAIN STAG)', '/posts/brand/6' %><br>
            <%= link_to 'ザ・ノース・フェイス(THE NORTH FACE)', '/posts/brand/7' %><br>
            <%= link_to 'チャムス(CHUMS)', '/posts/brand/8' %><br>
            <%= link_to 'オガワ(ogawa)', '/posts/brand/9' %><br>
            <%= link_to 'NANGA(ナンガ)', '/posts/brand/10' %><br>
            <%= link_to 'DOD(ディーオーディー)', '/posts/brand/11' %><br>
            <%= link_to 'SOTO(ソト)', '/posts/brand/12' %><br>
            <%= link_to 'ノルディスク(Nordisk)', '/posts/brand/13' %><br>
            <%= link_to 'MSR(エムエスアール)', '/posts/brand/14' %><br>
            <%= link_to 'テンマクデザイン(tent-Mark DESIGNS)', '/posts/brand/15' %><br>
            <%= link_to 'ユニフレーム(UNIFLAME)', '/posts/brand/16' %><br>
            <%= link_to 'キャラバン', '/posts/brand/17' %><br>
            <%= link_to 'マムート(MAMMUT)', '/posts/brand/18' %><br>
            <%= link_to 'KEEN(キーン)', '/posts/brand/19' %><br>
            <%= link_to 'アークテリクス(Arcteryx)', '/posts/brand/20' %><br>
            <%= link_to 'パタゴニア(Patagonia)', '/posts/brand/21' %><br>
            <%= link_to 'グレゴリー(Gregory)', '/posts/brand/22' %><br>
            <%= link_to 'ヒルバーグ(Hilleberg)', '/posts/brand/23' %><br>
            <%= link_to 'ベンガルス(Bergans)', '/posts/brand/24' %><br>
            <%= link_to 'アライテント', '/posts/brand/25' %><br>
            <%= link_to 'ノースイーグル(North Eagle)', '/posts/brand/26' %><br>
            <%= link_to 'バンドック(BUNDOK)', '/posts/brand/27' %><br>
            <%= link_to 'テンティピ(Tentipi)', '/posts/brand/28' %><br>
            <%= link_to 'ゼログラム(ZEROGRAM)', '/posts/brand/29' %><br>
            <%= link_to 'キャンバスキャンプ(CanvasCamp)', '/posts/brand/30' %><br>
            <%= link_to 'ケシュア(Quechua)', '/posts/brand/31' %><br>
            <%= link_to 'サウスフィールド(SOUTH FIELD)', '/posts/brand/32' %><br>
          <br>

          </div>
        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>