<%= render "shared/header" %>

<section class="text-center container-fluid bg-light">
  <div class='title-contents'>
    <div class="row py-lg-3">
      <div class="col-lg-9 col-md-12 mx-auto">
        <br>
        <h1 class="fw-light-ext">ギア好きキャンパーたちが集うCamp Pro</h1>
        <br>
        <p class="lead-ext">自慢のギアを他のキャンパーたちと共有しよう</p>
        <br>
      </div>
    </div>
  </div>
</section>

  <main>
    <div class="text-center container-fluid bg-light">
      <div class="card w-90 p-0 mx-auto shadow-sm">
        <div class="card-body">
          <h4 class="text-center py-3 bg-light">カテゴリー一覧</h4>
          <div class="col">
          <h4>テント/タープ</h4>
            <%= link_to 'テント', '/posts/category/2' %>
            <%= link_to 'タープ', '/posts/category/3' %>
            <%= link_to 'テント/タープアクセサリー', '/posts/category/4' %>
          <br>
          <br>
          <h4>寝具</h4>
            <%= link_to '寝袋/シュラフ', '/posts/category/5' %>
            <%= link_to 'インナーシュラフ/インナーシーツ', '/posts/category/6' %>
            <%= link_to 'シュラフカバー', '/posts/category/7' %>
            <%= link_to 'コット/ベッド', '/posts/category/8' %>
            <%= link_to 'マット', '/posts/category/9' %>
            <%= link_to '枕/ピロー', '/posts/category/10' %>
            <%= link_to '寝具その他', '/posts/category/11' %>
          <br>
          <br>
          <h4>クーラーボックス</h4>
            <%= link_to 'ハードクーラーボックス/保冷ボックス', '/posts/category/12' %>
            <%= link_to 'ソフトクーラーボックス/保冷バッグ', '/posts/category/13' %>
            <%= link_to '保冷剤', '/posts/category/14' %>
            <%= link_to 'その他クーラーボックス/保冷器具', '/posts/category/15' %>
          <br>
          <br>
          <h4>調理器具</h4>
            <%= link_to 'バーベキューコンロ/バーベキューグリル', '/posts/category/16' %>
            <%= link_to 'バーナー/ガスコンロ', '/posts/category/17' %>
            <%= link_to '焚火台', '/posts/category/18' %>
            <%= link_to '網/鉄板/ロストル', '/posts/category/19' %>
            <%= link_to 'クッカー/コッヘル', '/posts/category/20' %>
            <%= link_to 'スキレット/フライパン', '/posts/category/21' %>
            <%= link_to 'ホットサンドメーカー', '/posts/category/22' %>
            <%= link_to 'ダッチオーブン', '/posts/category/23' %>
            <%= link_to 'スモーカー/燻製器', '/posts/category/24' %>
            <%= link_to 'ポット/ケトル', '/posts/category/25' %>
            <%= link_to 'パーコレーター', '/posts/category/26' %>
            <%= link_to 'ウォータージャグ/ウォータータンク', '/posts/category/27' %>
            <%= link_to 'トライポッド', '/posts/category/28' %>
            <%= link_to 'キッチンツール/クッキングツール', '/posts/category/29' %>
            <%= link_to 'その他調理器具', '/posts/category/30' %>
          <br>
          <br>
          <h4>燃料/着火用具</h4>
            <%= link_to 'ガス', '/posts/category/31' %>
            <%= link_to '液体燃料', '/posts/category/32' %>
            <%= link_to 'ガストーチ/火おこし器', '/posts/category/33' %>
            <%= link_to '炭/木炭', '/posts/category/34' %>
            <%= link_to 'その他燃料/着火用具', '/posts/category/35' %>
          <br>
          <br>
          <h4>テーブルウェア(食器)</h4>
            <%= link_to '皿', '/posts/category/36' %>
            <%= link_to 'マグカップ/コップ', '/posts/category/37' %>
            <%= link_to 'シェラカップ', '/posts/category/38' %>
            <%= link_to 'カトラリー(フォーク/スプーン)', '/posts/category/39' %>
            <%= link_to 'その他アウトドア用品食器', '/posts/category/40' %>
          <br>
          <br>
          <h4>ファーニチャー</h4>
            <%= link_to 'テーブル/机', '/posts/category/41' %>
            <%= link_to 'チェア/椅子', '/posts/category/42' %>
            <%= link_to 'グランドシート/レジャーシート', '/posts/category/43' %>
            <%= link_to 'その他ファーニチャー', '/posts/category/44' %>
          <br>
          <br>
          <h4>ライト/ランタン</h4>
            <%= link_to 'LEDランタン', '/posts/category/45' %>
            <%= link_to 'ガスランタン', '/posts/category/46' %>
            <%= link_to 'オイルランタン', '/posts/category/47' %>
            <%= link_to '灯油ランタン', '/posts/category/48' %>
            <%= link_to 'キャンドルランタン', '/posts/category/49' %>
            <%= link_to 'ランタンシェード', '/posts/category/50' %>
            <%= link_to 'LEDライト/フラッシュライト', '/posts/category/51' %>
            <%= link_to 'ヘッドライト', '/posts/category/52' %>
            <%= link_to 'その他ランタン/ライト', '/posts/category/53' %>
          <br>
          <br>
          <h4>暖房器具(ストーブ/ヒーター)</h4>
            <%= link_to 'ストーブ', '/posts/category/54' %>
            <%= link_to 'ストーブガード', '/posts/category/55' %>
            <%= link_to 'その他ストーブ/ヒーター', '/posts/category/56' %>
          <br>
          <br>
          <h4>収納ボックス/収納ラック</h4>
            <%= link_to '収納ボックス/コンテナ', '/posts/category/57' %>
            <%= link_to '収納ラック', '/posts/category/58' %>
            <%= link_to 'その他収納ボックス/ケース', '/posts/category/59' %>
          <br>
          <br>
          <h4>キャリー/カート</h4>
            <%= link_to 'その他キャリー/カート', '/posts/category/60' %>
          <br>
          <br>
          <h4>サーキュレーター</h4>
            <%= link_to 'サーキュレーター', '/posts/category/61' %>
          <br>
          <br>
          <h4>ポータブル電源</h4>
            <%= link_to 'ポータブル電源', '/posts/category/62' %>
          <br>
          <br>
          <h4>その他キャンプ用品</h4>
            <%= link_to '手斧', '/posts/category/63' %>
            <%= link_to 'ショベル/スコップ', '/posts/category/64' %>
            <%= link_to '十徳ナイフ/万能ナイフ', '/posts/category/65' %>


          </div>
        </div>
      </div>
    </div>
  </main>

<%= render "shared/footer" %>